@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
:root {
    --primary-color: #035A77;
    --secondary-color:#00524E;
    --accent1-color: #E3E7AF;
    --accent2-color: #EFF1C5;
    --accent3-color: #B1B592;
    

    --heading-font: 'roboto', serif;
    --paragraph-font:'nunito', serif;

    --nav-backround-color:var(--primary-color);
    --nav-link-color:var(--accent1-color);
    --nav-hover-link-color:#B1B592;
    --nav-hover-background-color:var(--secondary-color);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--secondary-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
    padding: 1rem;
    background-color: var(--primary-color);

    font-weight: 700;
}

h2{
    display: flex;
    justify-content: center;
}

p {
    padding: 5px;
    color: var(--accent2-color);
    font-family: var(--paragraph-font);
}

header,footer,.grid,.maingrid{
    max-width: 840px;
    margin: 0 auto;
    border-bottom: 1px #B1B592 solid;
    border-top: 1px #B1B592 solid;
}

nav {
    display: grid;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: 70px 1fr 1fr 1fr 1fr;
    background-color: var(--primary-color);
    padding-left: 5px;
    padding-right: 5px;
    font-size: larger;
    font-family:var(--paragraph-font);

}

nav img {
    width: 70px;
    height: auto;
    padding: 0;
    margin: 0 auto;
}

nav a {
    display:block;
    color:var(--nav-link-color);
    text-decoration: none;
    padding: 30px;
    margin:0 auto;
    
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    /* background-color: var(--nav-hover-background-color); */
}

.hero img {
    display: flex;
    width: 840px;
    margin: 0 auto;
    height: auto;
}

.hero h1{
    position: absolute;
    right: 30px;
    top: 80px;
    background-color: var(--primary-color);
    opacity: 0.8;
    padding: 10px;
}

div {
    position: relative;
    height: auto;
}

.tripsheader{
    position: absolute;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    color: var(--accent1-color);
    padding: 5px; 
}

aside{
    position: absolute;
    left: 9rem;
    top: 3.5rem;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    
    background-color:var(--primary-color);
    width: 35rem;
    height: auto;
    margin: 10px auto;
    padding: 5px;
    border: 1px;
    opacity: 0.85;

}

.tripsheader h2{
    font-size: xx-large;
}

article {
    display: block;
    position: absolute;
    bottom: 20px;
    right: 20px;
    
    background-color:var(--primary-color);
    width: 35rem;
    height: auto;
    margin: 10px;
    padding: 5px;
    border: 1px;
    opacity: 0.85;

}

.history{
    background-color: var(--primary-color);
    border-bottom: #B1B592 solid 1px ;
   
}
.contactbutton{
    display: grid;
    justify-content: center;
    justify-items: center;
    color: gainsboro;
    height: 4rem;
    
}

.contactbutton button{
    position: relative;
    text-decoration:none;
    display: block;
    width: 10rem;
    height: 2rem;
    margin: 1rem;
    font-size: larger;
    font-weight: 700;
    font-family: var(--paragraph-font);
}

.tripsbutton {
    display: grid;
    justify-content: center;
    justify-items: center;
    color: gainsboro;
    height: 3rem;
    
    
}

.tripsbutton button{
    width: 150px;
    position: absolute;
    font-size: larger;
    font-weight: 700;
    font-family: var(--paragraph-font);
}

.banner img {
    position: relative;
    width: 100px;
    height: auto;
    float: right;
}

.banner p {
    position: relative;
    color: var(--accent1-color);
    padding: 5px; 
}

.info{
    width:840px;
    margin: 0 auto;
    padding: 1rem ;
    display:flex;
    font-weight: 600;
    justify-content: center;
    justify-items: center;
    background-color: var(--primary-color);
    
}

.info p{
    padding:1rem;
    padding-bottom: 2rem;
}

.map {
    justify-content: flex-end;
    background-color: var(--primary-colors);
}

section{
    /* position: relative; */
    width: 840px;
}

section p {
    display: flex;
    background-color:var(--primary-color);
    width: 840px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 3rem;
}

figure{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: 0;
    padding: 5px;
    border: 0;
    background-color:var(--primary-color);
    max-width: 192px;
}

figcaption{
    color: var(--accent2-color);
    text-align: center;
    /* background-color: ; */
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
    background-color: var(--primary-color);
    
}

.grid img {
    width: 150px;
}
footer{
    display: flex;
    justify-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    padding-top: 2rem;
    font-size: 0.8em;
    margin: 1rem auto 0;
    
}

footer img{
    width: 3rem;
    padding-left: 5px;
    padding-right: 5px;
}

.icons{
    max-width: 300px;
    display: flex;
    justify-content:end;
    justify-items: end;
    align-items: center;
}

footer a {
    color: var(--secondary-color);
}

form {
    width: 840px;
    margin: 0 auto;
    padding: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    background-color: var(--accent1-color);
    display: grid;
    height: auto;
}

fieldset {
    width: 500px;
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    font-family: var(--paragraph-font);
    
}

legend {
    padding: 0.2rem;
    color: var(--primary-color);
    font-weight: 900;
}

.rad {
    width: 740px;
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: flex-start;
    justify-items: flex-start;
    margin: 0 auto;
    padding: 0.2rem;
}

input, textarea {
    padding: 0.5rem;
    font-size: large;
}

textarea {
    width: 500px;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    vertical-align: bottom;
}

button {
    color: darkslategray;
    width: 8rem;
    margin: 0 auto;
    padding: 0.2rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
}

button:hover {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

.history button {
    color: var(--accent2-color);
    background-color: var(--secondary-color);
    width: 8rem;
    margin: 0 auto;
    padding: 0.2rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
}

.history button:hover {
    color: #B1B592;
}

.form-item {
    width: 740px;
    display: grid;
    align-items: center;
}

.checkbox {
    display: grid;
    grid-template-columns: 20px 1fr;
    width: 740px;
    align-items: center;
}

.column1 {
    grid-template-columns: 1fr 3fr;
    margin: 0.2rem 0;

}

table, tr, td{
    font-family: var(--paragraph-font);
    
}

table{
    display: grid;
    /* grid-template-columns: 1fr 1; */
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 840px;
    margin:0 auto;
    background-color: var(--primary-color);
    
}

.table1{
    padding-bottom: 1rem;
}

.table2{
    border-bottom: 1px solid #B1B592;
}

th{
    font-size: larger;
    
    margin:0 auto;
    padding: 1rem;
    color: var(--accent1-color);
    background-color: #00524E;

}

td{
    padding: 1rem;
    width: 100px;
    border:1px solid #B1B592;
    
    margin:0 auto;
    color: var(--accent2-color);
    width: 250px;
    height: 150px;
    text-align: center;
}

footer h5{
    color: lightseagreen;
}

.invites {
    background-color: var(--primary-color);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 210px 210px 420px;
    grid-template-rows: 100px 100px 80px;
    justify-content: center;
    /* align-items: center; */
    align-content: center;
}

.invites img{
    grid-column:3/4;
    grid-row-start: 1;
}

.but1{
    grid-column-start: 1;
    /* grid-column-end: 3; */
    
    grid-row-start: 3;
    
}

.but2{
    
    grid-row-start: 3;
    grid-column-start: 2;
    
}

.invites p{
    align-self: center;
    justify-self: center;
    width:360px;
    grid-column: 1/3;
}
.invites h2{
    align-self: center;
    grid-column: 1/3;
}