@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
:root {
    --primary-color: #002E2C;
    --secondary-color: #035E7B;
    --accent1-color: #E3E7AF;
    --accent2-color: #A2A77F;

    --heading-font: 'roboto', serif;
    --paragraph-font:'nunito', serif;

    --nav-backround-color:var(--primary-color);
    --nav-link-color:var(--accent1-color);
    --nav-hover-link-color:var(--accent2-color);
    --nav-hover-background-color:var(--secondary-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* body {
    max-width: 960px;
    background-color: var(--secondary-color);
	padding: 20px;
    display: grid;
    justify-content: center;
   
} */

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
    padding: 1rem;
}

p {
    padding: 25px;
    color: var(--accent2-color);
    font-family: var(--paragraph-font);
}

header,footer,.grid,.maingrid{
    max-width: 840px;
    background-color: var(--primary-color);
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-color);
    padding-left: 5px;
    padding-right: 5px;
}

nav img {
    width: 70px;
    height: auto;
    padding: 0;
    margin: 0;
}

nav a {
    display:block;
    color:var(--nav-link-color);
    text-decoration: none;
    padding: 5px;
    height: 20px;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    /* background-color: var(--nav-hover-background-color); */
}

.hero img {
    display: flex;
    width: 840px;
    margin: 0 auto;
    height: auto;
}

div h1{
    position: absolute;
    right: 30px;
    top: 80px;
    background-color: var(--primary-color);
    opacity: 0.8;
    padding: 10px;

}

div {
    position: relative;
    width: 840px;
    display: flex;
    height: auto;
}

article {
    display: block;
    position: absolute;
    bottom: 20px;
    right: 20px;
    
    background-color:var(--primary-color);
    width: 35rem;
    height: auto;
    margin: 10px;
    padding: 5px;
    border: 1px;
    opacity: 0.8;

}

.banner img {
    position: relative;
    width: 100px;
    height: auto;
    float: right;
}

.banner p {
    position: relative;
    color: var(--accent1-color);
    padding: 5px; 
}

section{
    /* position: relative; */
    width: 840px;
}

section p {
    display: flex;
    background-color:var(--primary-color);
    width: 840px;
    /* height: auto;
    margin: 10px;
    padding: 5px;
    border: 1px; */
}

figure{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: 0;
    padding: 5px;
    border: 0;
    background-color:var(--primary-color);
    max-width: 192px;
}

figcaption{
    color: var(--accent2-color);
    /* background-color: ; */
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid img {
    width: 150px;
}

footer{
    display: flex;
    justify-items: center;
}

footer img{
    width: 3rem;
    padding: 5px;
}
.icons{
    width: 450px;
    display: flex;
    justify-content:end;
    align-items: center;
}

footer a {
    color: var(--secondary-color);
}
