@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');    
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'roboto', 'serif' ;
    background-color: gainsboro;
}

header,footer {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

h1 {
    color: darkslategray;

}

form {
    width: 960px;
    margin: 0 auto;
    padding: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    background-color: gainsboro;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

legend {
    padding: 0.2rem;
    color: darkslategray;
}

input, select, textarea {
    padding: 0.5rem;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

button {
    color: darkslategray;
    width: 7rem;
    margin: 0 auto;
    padding: 0.2rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
}
button:hover {
    background-color: darkslategrey;
    color: gainsboro;
}

footer {
    font-size: 0.8em;
    border-top: 1px solid darkslategray;
    width: 900px;
    margin: 1rem auto 0;
}

div {
    display: grid;
    align-items: center;
    margin-top: 1.5rem;

}