* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: darkslategrey;
    padding: 10px
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkslategrey;
    padding-left: 30px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid darkslategrey;
    padding: 2px;
    box-shadow: 0 0 20px gray;
    float: right;
}

p {
    padding-left: 40px;
    padding-top: 20px;
}

aside {
    position: relative;
    width: 20rem;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 30px;
    left: 75px

}
footer{
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);;
    padding: 2rem;
    background-color: gainsboro;
    color: black;
}