.callout {
    width: 400px;
    margin: 10px;
    border: 1px black;
    padding: 15px;
    background-color: midnightblue;
    color: #fff;
}

.callout img {
    float: right;
    margin: 0 0 10px 10px;
    border: 1px black;
	padding: 2px;
    background-color: gray;
    width: 200px;
    height: auto;
}

blockquote {
    margin: 0;
}

cite {
    display: block;
	border-top: 2px dotted black;
    padding-top: 2px;
    text-align: right;
    font-size: smaller;
}